a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: none;
}

a:active {
    color: blue;
    text-decoration: none;
}

h4{
    font-family:Trebuchet MS, Arial, Helvetica, sans-serif;
}

.slurminfo {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 99%;
    margin: 0.5%;
    border-collapse: collapse;
}

.slurminfo td, .slurminfo th {
    font-size: 1em;
    border: 1px solid #22305D;
    padding: 3px 7px 2px 7px;
}

.slurminfo td.right {
    text-align: right;
}

.slurminfo th {
    position: -webkit-sticky;
    position: sticky;
    top:      0;
}

em.alarm, .slurminfo td.alarm, .slurminfo tr.alt td.alarm {
    background-color: #F65700;
}

em.inform, .slurminfo td.inform, .slurminfo tr.alt td.inform {
    background-color: #21B2EA;
}

.slurminfo th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #3A509C;
    color: #ffffff;
}

.slurminfo tr:nth-child(even) {
    color: #000000;
    background-color: #D7DCEB;
}

.slurminfo tr.summary {
    color: #000000;
    background-color: #B7DCEB;
}
.slurminfo tr.detail {
    font-size: 0.95em;
}
.slurminfo tr.detail td{
    padding-left: 1.2em
}
.slurminfo th.sort {
    background-color: blue;
    font-size: 1.2em;
}

.glyphicon{
    float:right
}

.glyphicon-triangle-top{
   color: white;
}
.glyphicon-triangle-bottom{
   color: white;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: #ccc;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: inherit;
}
 
.indented {
  padding-left: 50pt;
  padding-right: 50pt;
}

p.box {
  border: 1px solid gray;
  margin: 10px;
  padding:10px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

p.thick {
  font-weight: bold;
}

/*Generic display */
table {
  width:           100%;
  border-collapse: collapse;
}

/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}
th {
  background: #333;
  color: white;
  font-weight: bold;
  cursor: s-resize;
  background-repeat: no-repeat;
  background-position: 3% center;
}
td, th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}
table.noborder{
  border: none;
}
tr.noborder{
  border: none
  background: white;
}
tr.noborder:nth-of-type(odd) {
  background: white;
}
td.noborder{
  border: none;
  vertical-align: top;
}
th.noborder{
  border: none;
  background: #eee;
  color: black;
}
th.des:after {
  content: "\21E9";
}
th.aes:after {
  content: "\21E7";
}
tr.IDLE {
  background: #c7e9c0;
}
tr.MIXED {
  background: #c6dbef;
}
li span{
  width: 20ch;
  font-weight: bold;
  display: inline-block;
}
form {
  padding: 4px;
}
form label.title{
  display: inline-block;
  width: 44ch;
  font-weight: bold;
}
.page-wrap {
  margin: 40px;
}
td.group_plus:before {
//   content: "\2795\ ";
   content: "\25b8\ ";
//   content: "\e081\ ";
}
td.group_minus:before {
//   content: "\2796\ ";
   content: "\25be\ ";
}
td.group_sub:before {
   content: "\21B3\ "
}
div {
   margin: 10px;
}
div.tab{
   margin: 0px;
}
div.border {
   margin: 10px;
   border: 1px solid gray; 
   padding: 10px;
}
rect.bordered {
   stroke:       #E6E6E6;
   stroke-width: 2px;
   z-index:      1;
}
rect.popout{
   stroke:       black;
   stroke-width: 5px;
   z-index:      999;
}
text.mono {
   font-size:    9pt;
   font-family:  Consolas, courier;
   fill:         #aaa;
}
th {
   text-align: center;
}
td.CPU {
   text-align: right;
}
td.RSS {
   text-align: right;
}
td.VMS {
   text-align: right;
}
td.IO {
   text-align: right;
}
td.KB {
   text-align: right;
}
.hide {
   display: none
}
legend{
   padding-top: 10px;
   font-size:    16pt;
   color:#3A509C
}
label.short {
   display: inline-block;
   width:  5em;
}
.table_title:before {
//   content: "\25b8\ ";
   content: "\25be\ ";
}
.table_title_collapse:before {
   content: "\25b8\ ";
}
