/*
* Slurm Util UI
* Copyright 2020, Flatiron Institute
* @lizlove
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Base Styles
- Layout
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Utilities
*/

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

:root {
  --yellow: #ffc600;
  --black: #1c1c1c;
  --off-black: rgb(47, 47, 51);
  --purple: #8383ff;
  --op-purple: rgba(131, 131, 255, 0.3);
  --blue: #3690ff;
  --op-blue: rgba(54, 144, 255, 0.1);
  --whiteish: rgba(255, 255, 255, 0.98);
  --orange: rgb(255, 81, 84);
  --op-orange: rgba(255, 81, 84, 0.3);
  --turquoise: #25ced1;
  --op-turquoise: rgba(37, 206, 209, 0.3);
  /* New colors */
  --border-gray: #e5e8ed;
  --background-gray: #f4f5f9;
}
html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background: white;
  font-size: 1.5rem;
  color: var(--black);
  margin: 0;
}

/* Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.layout {
  min-height: calc(100vh - 80px);
  background-color: rgba(0, 0, 0, 0.1);
}
.layout__container {
  min-height: calc(100vh - 40px);
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.section--first {
  padding-top: 100px;
}
.section--footer {
  background-image: linear-gradient(141deg, #3690ff 0%, #8383ff 100%);
  background-size: 70px, auto;
}
.section__inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 0;
}
@media (max-width: 1200px) {
  .section__inner {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.section__inner--fullwidth {
  max-width: 90vw;
}
.section__inner--horizontal {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.section__div {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 3rem;
}
.section__div + .section__div {
  padding-top: 0;
}
.section__div--nobottom {
  margin-bottom: -4rem;
}
.section__div--sunburst {
  min-height: 200px;
}
.section__inner--footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
@media (max-width: 430px) {
  .section__inner--footer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .section__inner--footer > * {
    margin-bottom: 20px;
  }
}
.block {
  padding: 2rem;
  margin: 0 auto 2rem auto;
}
.flex {
  display: flex;
  flex-direction: row;
}
.flex__left {
  justify-content: flex-start;
  align-items: baseline;
}
.flex-gap > select,
.flex-gap > input {
  margin-left: 10px;
}
.flex__right {
  justify-content: flex-end;
}
.flex__center {
  justify-content: center;
  align-items: center;
}
.flex__sunburst {
  margin: 0 auto;
  max-width: 932px;
}
.grid {
  display: grid;
  grid-gap: 20px;
}
.grid__left {
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.hide {
  display: none;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px 0;
  font-weight: 500;
}
p {
  line-height: 1.7;
  font-weight: 300;
  margin: 0 0 25px 0;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  text-decoration: none;
  color: var(--black);
  border-bottom: 2px solid var(--yellow);
  cursor: pointer;
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
input[type='date'],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
/* Removes awkward default styles on some inputs for iOS */
input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
input[type='date'],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}
input[type='email']:focus,
input[type='number']:focus,
input[type='search']:focus,
input[type='text']:focus,
input[type='tel']:focus,
input[type='url']:focus,
input[type='password']:focus,
input[type='date']:focus,
textarea:focus,
select:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}
input[type='email']::after,
input[type='number']::after,
input[type='search']::after,
input[type='text']::after,
input[type='tel']::after,
input[type='url']::after,
input[type='password']::after,
input[type='date']::after,
textarea::after,
select::after {
  content: '\2000';
}
label,
legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
fieldset {
  padding: 0;
  border-width: 0;
}
input[type='checkbox'],
input[type='radio'] {
  display: inline;
}
label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: normal;
}
.small-input {
  max-width: 50px;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}
.button:hover,
button:hover,
input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover,
.button:focus,
button:focus,
input[type='submit']:focus,
input[type='reset']:focus,
input[type='button']:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}
.button.button-primary,
button.button-primary,
input[type='submit'].button-primary,
input[type='reset'].button-primary,
input[type='button'].button-primary {
  color: #fff;
  background-color: #33c3f0;
  border-color: #33c3f0;
}
.button.button-primary:hover,
button.button-primary:hover,
input[type='submit'].button-primary:hover,
input[type='reset'].button-primary:hover,
input[type='button'].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type='submit'].button-primary:focus,
input[type='reset'].button-primary:focus,
input[type='button'].button-primary:focus {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside;
}
ol {
  list-style: decimal inside;
}
ol,
ul {
  padding-left: 0;
  margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}
li {
  margin-bottom: 1rem;
}

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #f1f1f1;
  border: 1px solid var(--border-gray);
  border-radius: 4px;
}
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}
text.mono {
  font-size: 9pt;
  font-family: Consolas, courier;
  fill: #aaa;
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 20px;
}
@media (max-width: 430px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
.grid__item {
  padding-left: 2rem;
  margin-bottom: 2rem;
  max-width: none;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 2px 5px rgba(0, 0, 0, 0.05);
  margin: 0 auto;
}
.grid__item a {
  border-bottom: 1px solid #ffc600;
}
.grid__item h3 {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #ffc600;
  line-height: 2;
}
.grid__title {
  align-content: center;
  display: grid;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#run_job_table > * {
  word-wrap: break-word !important;
}
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.4rem;
}
th,
td {
  padding: 6px;
  text-align: left;
  border-bottom: 1px solid var(--border-gray);
  border-right: 1px solid var(--border-gray);
}
th:last-child,
td:last-child {
  border-right: none;
}
/* Zebra striping */
/* tr:nth-of-type(odd) {
 background: #eee;
} */
th {
  background: var(--off-black);
  color: white;
  cursor: pointer;
  /* todo: what is this for? */
  background-repeat: no-repeat;
  background-position: 3% center;
  text-align: center;
  font-weight: 500;
}
.table__title {
  margin-bottom: 1rem;
}
.table_title:before {
  content: '\25be\ ';
  font-size: 2rem;
}
.table_title_collapse:before {
  content: '\25b8\ ';
  font-size: 2rem;
}
td.group_plus:before {
  content: '\25b8\ ';
}
td.group_minus:before {
  content: '\25be\ ';
}
td.group_sub:before {
  content: '\21B3\ ';
}
td.CPU {
  text-align: right;
}
td.RSS {
  text-align: right;
}
td.VMS {
  text-align: right;
}
td.IO {
  text-align: right;
}
td.KB {
  text-align: right;
}
td.expand:before {
  content: '📁 ';
}
td.collapse:before {
  content: '📂 ';
}
th.sort:after {
  content: ' ▲ ';
}
th.sort_des:after {
  content: ' ▼ ';
}
.slurminfo th {
  position: sticky;
  top: 30px;
}
em.alarm,
.slurminfo td.alarm,
.slurminfo tr.alt td.alarm {
  background-color: var(--op-orange);
}
.slurminfo tr.summary {
  font-weight: 500 !important;
}
.slurminfo th.sort,
.slurminfo th.sort_des {
  border-top: 2px var(--yellow) solid;
}
em.inform,
.slurminfo td.inform,
.slurminfo tr.alt td.inform,
tr.inform {
  background-color: var(--op-blue);
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hl {
  color: var(--yellow);
  border-bottom: none;
}

/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.stickynav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  z-index: 9997;
  background-color: var(--whiteish);
  box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.15);
}
.stickynav__inner {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  z-index: 1;
  background-color: var(--off-black);
  background-size: 70px, auto;
  padding: 0 1vw;
}
.stickynav__content {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0;
  position: relative;
  z-index: 2;
}
.stickynav__logo {
  float: left;
}
.stickynav__update {
  float: right;
  text-align: left;
  padding: 8px 0 0 0;
  font-weight: 400;
  text-shadow: none !important;
  letter-spacing: 1px;
  font-size: 1.3rem;
  color: var(--whiteish);
  border-bottom: none;
  margin: 0.25em 0;
}
.crumb__container {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  z-index: 9997;
  background-color: var(--whiteish);
  box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.15);
}
.crumb__inner {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  z-index: 1;
  background-color: var(--off-black);
  background-size: 70px, auto;
  padding: 0 1vw;
}
.crumb__inner::after {
  content: '';
  border-bottom: 1px double #121212;
  display: block;
}
.crumb__logo {
  float: left;
}
.crumb__content {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0;
  position: relative;
  z-index: 2;
}
.crumbs {
  padding: 5px;
  border-radius: 5px;
  border: 0;
  z-index: 150;
  float: right;
}
.crumb {
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--whiteish);
  border-bottom: none;
  margin: 0.25em 0;
  font-weight: 400;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  text-align: right;
}
.crumb:last-child {
  color: var(--whiteish);
  padding-right: 0;
}
.crumb::after {
  display: inline-block;
  margin-right: 0.5rem;
  margin-left: 0.8rem;
  color: rgba(255, 255, 255, 0.7);
  content: '/';
}
.crumb:last-child::after {
  content: '';
  margin: 0;
}
.nav {
  background-color: #fff;
}
.nav__inner {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 2rem 2rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.06) 0px -4px 4px;
  width: 100%;
}
@media (max-width: 1350px) {
  .nav__inner {
    display: none;
  }
}
.nav__item {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  align-content: center;
  gap: 1.7rem;
  margin: 0 1rem 1rem 1rem;
  padding-top: 1rem;
  border-top: 2px transparent solid;
}
.nav__item:hover {
  border-top: 2px var(--yellow) solid;
  transition: all 0.2s ease-in-out;
}
.nav__item--active {
  border-top: 2px var(--yellow) solid !important;
  transition: all 0.2s ease-out;
}
.nav__item--search {
  border: none;
  margin-right: 0 !important;
}
.nav__item--search:hover {
  border: none;
}
.nav__link {
  border-bottom: none;
}
.nav__link:hover {
  opacity: 0.8;
}
.nav__link--search {
  content: url(../images/search.svg);
  height: 1.6rem;
  color: var(--black);
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer {
  text-align: right;
}

/* TK: Landing Page Dashboard
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
  text-align: center;
  background-image: url(../images/background-pattern.png), linear-gradient(141deg, #3690ff 0%, #8383ff 100%);
  background-size: 70px, auto;
  clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 100px), 0 100%);
  perspective: 500px;
  padding-bottom: 250px;
  padding-top: 100px;
  font-size: 13rem;
  overflow: hidden;
  margin-bottom: -100px;
}
.hero h1 {
  font-size: 12vmin;
  margin: 2rem 0 5rem 0;
  transition: all 0.2s;
}
.hero__title {
  letter-spacing: 2px;
  position: relative;
  color: #fff;
  text-shadow: 8px 8px 3px rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: inline-block;
  font-weight: 700;
  border-top: 5px solid #ffc600;
  border-bottom: 5px solid #ffc600;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
}
.hero__title--footer {
  max-width: 100px;
  text-align: center;
}
.hero__title--crumb {
  text-align: left;
  border: 0;
  padding: 8px 0 0;
  font-weight: 400;
  text-shadow: none !important;
}
.hero__title--update {
  text-align: left;
  border: 0;
  padding: 8px 0 8px 20px;
  text-shadow: none !important;
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--whiteish);
  border-bottom: none;
  margin: 0.25em 0;
  font-weight: 400;
  letter-spacing: 1px;
}
.hero__text {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  margin-top: 0;
  letter-spacing: 2px;
  color: #fff;
}
.hero__text--top {
  margin-bottom: 0;
  font-size: 1.2rem;
  letter-spacing: 5px;
}
.hero__text--small {
  font-size: 1.5rem;
}
.hero__image {
  z-index: 100000;
}
.dashboard {
  background: #fff;
  margin-top: -100px;
  z-index: 2;
  position: relative;
  box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.1), 0 0 6px rgba(0, 0, 0, 0.18);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.dashboard__section {
  display: flex;
  align-items: center;
  padding: 2.5rem 4rem;
  justify-content: center;
  flex-direction: column;
}
.title {
  margin-bottom: 20px;
}
.infobox {
  background: #fff;
  margin-top: -100px;
  z-index: 2;
  position: relative;
  box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.1), 0 0 6px rgba(0, 0, 0, 0.18);
}

/* Old CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* .indented {
  padding-left: 50pt;
  padding-right: 50pt;
}
p.box {
  border: 1px solid gray;
  margin: 10px;
  padding: 10px;
}

/* The switch - the box around the slider */
/* .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
} */

/* Hide default HTML checkbox */
/* .switch input {
  opacity: 0;
  width: 0;
  height: 0;
} */

/* The slider */
/* .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
} */

/* Rounded sliders */
/* .slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

p.thick {
  font-weight: bold;
}

li span {
  width: 20ch;
  font-weight: bold;
  display: inline-block;
}
form {
  margin:
}
form label.title {
  display: inline-block;
  width: 44ch;
  font-weight: bold;
}
form label.title_short {
  display: inline-block;
  width: 20ch;
  font-weight: bold;
}
div.tab {
  margin: 0px;
}
div.border {
  margin: 10px;
  border: 1px solid gray;
  padding: 10px;
}
rect.bordered {
  stroke: #e6e6e6;
  stroke-width: 2px;
  z-index: 0;
  position: relative;
}
rect.popout {
  stroke: black;
  stroke-width: 5px;
  z-index: 9999;
  position: relative;
}
.hide {
  display: none;
}
legend {
  padding-top: 10px;
  font-size: 16pt;
  color: #3a509c;
}
label.short {
  display: inline-block;
  width: 5em;
}
p.home {
  position: fixed;
  right: 3em;
}
p.home:before {
  content: '\1F3E0\ ';
  color: blue;
  font-size: larger;
} */

/* sparkline_std */
/* #result {
  text-align: right;
  color: gray;
  min-height: 2em;
}

#table-sparkline {
  margin: 0 auto;
  border-collapse: collapse;
  background-color: white;
}

.tymor a:link {
  color: black;
  text-decoration: none;
}

.tymor th {
  text-align: left;
} */ */
/* .tymor tr {
  background-color: white;
} */

/* .tymor td,
th {
  padding: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid silver;
  height: 20px;
} */

/* .tymor thead th {
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}
.highcharts-tooltip > span {
  background: white;
  border: 1px solid silver;
  border-radius: 3px;
  box-shadow: 1px 1px 2px #888;
  padding: 8px;
}
.highcharts-tooltip h3 {
  margin: 0.3em 0;
} */

/*added by Yanbin for hidden behavior*/
.hide {
   display: none
}
/*added by Yanbin
li span.attribute {
    width: 20ch;
    font-weight: bold;
    display: inline-block;
}
*/
